<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="jumbotron">
      <img alt="Angry Drivers" class="img-responsive center-block" src="../../assets/angry.png" >
      <h1 class="text-center">Angry Drivers</h1>
      <p>Descripcion de Angry Drivers</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <br><br>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <form role="form">
      <div class="form-group">
        <label for="titulo">
          Titulo Noticia/Post
        </label>
        <input type="text" class="form-control" id="titulo" name="titulo" />
      </div>
      <div class="form-group">
        <label for="contenido">
          Contenido
        </label>
        <textarea class="form-control" rows="5" id="contenido" name="contenido"></textarea>
      </div>
      <div class="form-group">

        <label for="inputFile">
          Fotos de la noticia/post
        </label>
        <input type="file" id="exampleInputFile" multiple="true"/>
      </div>
      <button type="submit" class="btn btn-default">
        Submit
      </button>
    </form>
  </div>
</div>
