
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <form role="form" ng-controller="iniciarSesionController">
          <div class="form-group">
            <label for="email">
              Email
            </label>
            <input type="email" ng-model="usuarioALogear.email" class="form-control" id="email" name="email" required/>
          </div>
          <div class="form-group">
            <label for="password">
              Password
            </label>
            <input type="password" ng-model="usuarioALogear.pass" class="form-control" id="password" name="password" required/>
          </div>

          <button class="btn btn-default" ng-click="iniciarSesion()">
            Iniciar Sesion
          </button>
        </form>
            <a href="/usuario/registrar">No tienes cuenta? Registrate!</a>
      </div>
    </div>
