<div class="row">
  <div class="col-md-offset-2 col-md-8">

    <form  method="POST" action="/Usuario/Registrar" enctype="multipart/form-data">
      <div class="form-group">
        <label for="email">
          Email
        </label>
        <input type="email" class="form-control" id="email" name="email" placeholder="example@example.com" required/>
      </div>
      <div class="form-group">
        <label for="password">
          Password
        </label>
        <input type="password" class="form-control" id="password" name="password" required/>
      </div>
      <div class="form-group">
        <label for="inputFile">
          Foto perfil
        </label>
        <input type="file" id="inputFile" name="inputFile"/>
      </div>
      <button type="submit" class="btn btn-default">
        Registrar
      </button>
    </form>


  </div>
</div>
