<div class="row">
  <div class="col-md-offset-5 col-xs-2">
    <img alt="Brand" class="img-responsive" src="images/logoNAGrande.png" >
  </div>


</div>

<div class="row">
  <div class="col-md-12">
    <h3>
      Categorias
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div ng-repeat="categoria in categorias">
        <div class="col-md-4">

          <div class="thumbnail">
            <img alt="Tecnologia" class="img-responsive" src="{{categoria.pathImagen}}" >
            <div class="caption">
              <h3>
                {{categoria.nombre}}
              </h3>
              <p>
                {{categoria.descripcion}}
              </p>
              <p>
                <a class="btn btn-primary" href="#/categoria/home/{{categoria.id}}">Ver Posts</a>
              </p>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>
      Posts/News
    </h3>
  </div>
</div>
<!--noticia in ultimas6Noticias y imagen in noticia.imagenes track by $index-->
<div class="row">
  <div ng-repeat="noticia in ultimas6Noticias">
    <div class="col-sm-4">
      <div class="panel panel-default" >
        <div class="panel-body">
          <uib-carousel interval="3000" no-wrap="false">
            <uib-slide ng-repeat="imagen in noticia.imagenes" active="slide.active" index="slide.id">
              <img ng-src="{{imagen.ruta}}" style="margin:auto;">

            </uib-slide>
          </uib-carousel>

          <br>
          <div class="media">
            <div class="media-left">
              <img class="media-object" style="max-width:64px;max-height:64px"src="{{noticia.creador.pathImagen}}" alt="">
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                {{noticia.titulo}}
              </h4> {{noticia.contenido}}

            </div>
          </div>
        </div>
      </div>

    </div>
  <div ng-if="$index==2">
     <div class="clearfix visible-lg-block"></div>
  </div>
  </div>
</div>
